{% extends "hello/layout.html" %}

{% block title %}
CANTEEN
{% endblock %}

{% block body %}


<div class="layout-foreground">
    <div id="blurred-image-container">
        <div class="img-src"></div>
        <div class="img-src blurred-image"></div>
    </div>



    <div id="auth">
        <button class="buttonB">Admin</button>
        <button type="button" class="buttonA" data-toggle="modal" data-target="#loginModal">Login
        <a href="{% url 'signup_page' %}"> <button type="button" class="buttonA">Signup</button></a>
    </div>


    <div class="top-heading">
        MECH-C 
        <h3 id="topp">DTU Canteen, Mechnaical department<br>Shahbad, Delhi<h3>
    </div>


    <div class="content">

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}



        <h1 style="text-align: center; color:black">MENU</h1>
            <!--temp name of context received from views.py-->
            
            <h4>Snacks</h4> 
            <table id="table1">
            <tr id="table_first">
                <th>ITEM</th>
                <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                <th>CODE</th>
                <th>PRICE</th>
            </tr>
            {% for gg in temp %}
            <tr>
                <td>{{gg.item}}</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>{{ gg.code }}</td>
                <td>{{ gg.price }}</td>
            </tr>
            {% endfor %}
            </table>


            <br><br>
            <h4>Meals</h4>
            <table id="table2">
                <tr id="table_second">
                    <th>ITEM</th>
                    <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    <th>CODE</th>
                    <th>PRICE</th>
                </tr>
                {% for gg in temp %}
                <tr>
                    <td>{{gg.item}}</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                    <td>{{ gg.code }}</td>
                    <td>{{ gg.price }}</td>
                </tr>
                {% endfor %}
                </table>



            <br><br>
            <h4>Bewerages</h4>
            <table id="table3">
                <tr id="table_third">
                    <th>ITEM</th>
                    <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    <th>CODE</th>
                    <th>PRICE</th>
                </tr>
                {% for gg in temp %}
                <tr>
                    <td>{{gg.item}}</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                    <td>{{ gg.code }}</td>
                    <td>{{ gg.price }}</td>
                </tr>
                {% endfor %}
            </table>

        
    </div>
</div>








<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">


        <div class="modal-header">
          <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Enter your username "required>
                </div>

                <div class="form-group">
                    <label for="pass">Password</label>
                    <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="Enter your password "required>
                </div>
                
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    
       </div>
    </div>
</div>




 {% endblock %}